[submodule "libScalerHook/tests/lib/plthook"]
	path = libScalerHook/tests/lib/plthook
	url = https://github.com/kubo/plthook.git
[submodule "libScalerHook/lib/json"]
	path = libScalerHook/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "Analyzer/ScalerRun/lib/yamlcpp_0_7_0"]
	path = Analyzer/ScalerRun/lib/yamlcpp_0_7_0
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "benchmarktookit"]
	path = benchmarktookit
	url = ssh://git@code.xttech.top:6081/masslab/benchmarktookit.git
